In [25]:
import pandas as pd

## Чтение файла в dataframe

In [26]:
df = pd.read_csv('../data/feed-views.log',
                skiprows=[2, 3],
                skipfooter=2,
                names=('datatime', 'user'),
                index_col='datatime',
                engine='python',
                sep='\t')
df.head()

                              user
datatime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [27]:
df.tail()

                                 user
datatime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

## переименование datatime в data-time

In [28]:
df.index.names = ['data_time']
df.head()

                              user
data_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

## сохранение файла

In [29]:
df.to_csv('../data/feed-views-semicolon.log',
         sep=';')

In [30]:
with open('../data/feed-views-semicolon.log') as f:
    for _ in range(5):
        print(f.readline())

data_time;user

2020-04-17 12:01:08.463179;artem

2020-04-17 12:01:23.743946;artem

2020-04-17 12:35:52.735016;artem

2020-04-17 12:36:21.401412;oksana